<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Node js upload/Import excel file to Mongodb database - Tutsmake.com</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
      <h1>Node js upload Excel file to Mongodb database - Arpit</h1>
      <form action="/" enctype="multipart/form-data" method="post">
        <input type="file" name="csv" >
        <input type="submit" value="Upload Csv">
      </form>  
    </body>
</html>